#container{
position: absolute;
top: 10px;
	left: 10px;
   width: calc(100vw - 53px);
   height: 600px;
   display: block;
background: #E8E3E7;
 border-style: outset;
 border-width: 15px;
 border-color: #E8E3E7;
box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.25);
border-radius: 10px;
overflow: hidden;
}
.room-image {
	position: absolute;
	left: max(0px, calc(var(--left) - 4%));
	top: max(0px, calc(var(--top) - 4%));
	width: 15%;

}
#room-title {

	font-size: 20px;
	font-family: cotton, sans-serif;

font-weight: 400;

font-style: normal;
text-align: center;

}

#room-description {
	position: relative;
	font-size: 15px;
	top: 24%;
	font-family: helvetica;
	text-align: center;
}


#info {
position: relative;
left: 22%;
top: 25%;
  background: white;
  z-index: 10;
  width: 45%;
  height: 40%;
  border-radius: 10%;
  box-shadow: 0.3rem 0.3rem 1rem rgb(65, 65, 65);
  padding: 1.5rem;
  display: none;
  
}

#info.show {
	display: block;

}

#close-info {
	position: fixed;
	left: 43%;
	top: 56%;
	background-color: white;
	border: none;
	font-size: 20px;
		font-family: cotton, sans-serif;

font-weight: 400;

font-style: normal;
letter-spacing: 3px;
}



.exit-button {
position: absolute;
width: 55px;
height: 55px;
left: 177.5px;
top: 658px;
border-radius: 50%;
border: 3px solid #000000;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
z-index: 4;

}



.x-symbol {
position: absolute;
width: 10%;
left: 177px;
top: 658px;
z-index: 4;
}

@media only screen and (min-width: 800px) {

	html {
		background: black;
	}

#container {
	position: fixed;
	top: 20px;
	left: 20px;
	width: calc(100vw - 40px);
	height: calc(100vh - 90px);
	align-items: center;
	background: #E8E3E7;
	 border-style: outset;
 border-width: 15px;
 border-color: #E8E3E7;
	box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	box-sizing: border-box;	
	padding-bottom: 100px;
	overflow: hidden;
}
	


.room-image {
	position: absolute;
	left: max(0px, calc(var(--left) - 4%));
	top: max(0px, calc(var(--top) - 4%));
	width: 6%;

}

.roomimage {
		position: absolute;
	top: 0;

	width: 120%;
	     border: 20px solid #A8DBCF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
z-index: 100;
 border-style: inset;

background: #A8DBCF;
}



.room-title {
		font-family: cotton, sans-serif;

font-weight: 400;

font-style: normal;
}



#room-title {

	font-size: 30px;
	font-family: cotton, sans-serif;

font-weight: 400;

font-style: normal;
text-align: center;

}

#room-description {
	position: relative;
	top: 30%;
	font-size: 20px;
	font-family: helvetica;
	text-align: center;
}
.room-description{
	font-family: cotton, sans-serif;

font-weight: 400;

font-style: normal;
}
/* Ellipse 15 */

#knob-1 {
position: fixed;
width: 59px;
height: 15px;
left: 360px;
top: 779px;
border-radius: 50%;
background: #E8E3E7;
	 border-style: outset;
	 z-index:2;
}

/* Ellipse 17 */

#knob-2 {
position: fixed;
width: 60px;
height: 15px;
left: 1020px;
top: 779px;
border-radius: 50%;
background: #E8E3E7;
	 border-style: outset;
	 z-index: 2;
}

/* Rectangle 11 */

#knobstick-1 {
position: fixed;
width: 10px;
height: 37px;
left: 385px;
top: 750px;
	 border-style: outset;
background: #E8E3E7;
}

/* Rectangle 12 */

#knobstick-2{
position: fixed;
width: 10px;
height: 37px;
left: 1045px;
top: 750px;
	 border-style: outset;
background: #E8E3E7;
}


.exit-button {
position: absolute;
width: 65px;
height: 65px;
left: 110px;
top: 355px;
border-radius: 50%;
border: 4px solid #000000;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
z-index: 4;

}



.x-symbol {
position: absolute;
left: 115px;
top: 360px;
z-index: 4;

}


#info {
position: relative;
left: 35%;
top: 20%;
  background: white;
  z-index: 10;
  width: 25%;
  height: 50%;
  border-radius: 10%;
  box-shadow: 0.3rem 0.3rem 1rem rgb(65, 65, 65);
  padding: 1.5rem;
  display: none;
  
}

#info.show {
	display: block;

}

#close-info {
	position: fixed;
	left: 47%;
	top: 55%;
	background-color: white;
	border: none;
	font-size: 20px;
		font-family: cotton, sans-serif;

font-weight: 400;

font-style: normal;
letter-spacing: 3px;
}





}